<div class="container mb-5 mt-5">

    <div class="card" style="width: 20rem;">
        <img src="{{imagen}}" class="d-block w-100" alt="imagenpk" style="filter: brightness(0); height: 20rem;">

        <!-- <div class="card-body">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{imagen}}" class="d-block w-100" alt="img1" style="filter: brightness(0);">
                    </div>
                    <div class="carousel-item">
                        <img src="{{imagen2}}" class="d-block w-100" alt="img2" style="filter: brightness(0);">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <h5 class="card-title" *ngIf="show">Name: {{nombrePok}}</h5>
            <h5 class="card-title" *ngIf="show">Type: {{type}}</h5>
            <h5 class="card-title" *ngIf="show">Base experience: {{exp}}</h5>
            <h5 class="card-title" *ngIf="show">Stats: {{stats}}</h5>
        </div> -->
        <div class="card-body">
            <h3>Quien es ese Pokemon? </h3>
            <input type="text" class="form-control mb-3" name="name" [(ngModel)]="name">
            <div class="row">
                <div class="col">
                    <button class="btn btn-danger mb-3" (click)="end()">Finalizar</button>
                </div>
                <div class="col">
                    <button class="btn btn-success mb-3" (click)="mathchpk()">Validar</button>
                </div>
            </div>

            <h5>Score: {{score}} / 100 </h5>
        </div>

    </div>
</div>